services:
  api:
    container_name: instagram-bridge-api
    image: ${DOCKER_IMAGE:-instagram-bridge-api:latest}
    build: .
    restart: always
    ports:
      - "3100:3000"
    env_file:
      - .env
    networks:
      - shared_network

networks:
  shared_network:
    external: true
    name: shared_network
